<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.1.6/purify.min.js"></script>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <strong class="has-text-link is-size-2">/Fetch</strong>
            </a>
            <div class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="index.html">Following</a>
                <a class="navbar-item" href="explore.html">Explore</a>
                <a class="navbar-item" href="myaccount.html">My Account</a> <!-- Corrected link -->
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="#">Log in</a>
                        <a class="button is-primary" href="#">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{{body}}}
    <!-- Footer -->
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>Fetch</strong> by <a href="#">Team 2</a>. The source code is licensed
                <a href="#">MIT</a>.
            </p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
  </body>
</html>