<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

<body class="is-justify-content-center has-text-centered">
  <h1 class="is-size-1 has-text-black is-family-monospace container">Fetch Login</h1>
  <div class="is-flex has-background-black-bis pt-6">
    <figure class="image">
      <img class="image is-rounded	pl-6" src="./TestLogo.jpg" alt="Logo">
    </figure>
    <form class="container has-text-centered" method="POST">
      <div class="pl-1 pb-6">
        <div class="box">
          <label class="is-size-4 has-text-black" for="username">Username:</label>
          <input class="input is large" type="text" id="username" name="username" required>
        </div>
        <div class="box">
          <label class="is-size-4 has-text-black" for="password">Password:</label>
          <input class="input is large" type="password" id="password" name="password" required>
        </div>
      </div>
    </form>
  </div>
  <div>
    <button class="button is-large is-black my-6" type="submit">Login</button>
  </div>
  <div>
    <button class="has-text-link">Don't have an account? Sign Up!</button>
  </div>
  <script src="/js/login.js"></script>
</body>