<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
<link rel="stylesheet" href="/css/signUp.css">
<body class="has-background-black-bis has-text-centered px-6">
    <h1 class="is-size-1 has-text-white is-family-monospace">Sign Up</h1>
    <hr>
    <form id="signUpForm" method="POST">
        <div class="box">
            <label class="is-size-4" for="avatarSelect">Pick an Avatar:</label>
            <div id="avatarSelect">
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/BeardMan1.avif" alt="avatar photo" data-name="BeardMan1">
                </figure>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/businessMan1.avif" alt="avatar photo" data-name="businessMan1">
                </figure>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/cyberKid1.avif" alt="avatar photo" data-name="cyberKid1">
                </figure>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/cyberKid2.avif" alt="avatar photo" data-name="cyberKid2">
                </figure>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/cyberKid4.avif" alt="avatar photo" data-name="cyberKid4">
                </figure>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/niceGirl1.avif" alt="avatar photo" data-name="niceGirl1">
                </figure>
                <figure class="image is-128x128">
                    <img class="is-rounded" src="/images/niceGirl2.avif" alt="avatar photo" data-name="niceGirl2">
                </figure>
            </div>
            <label class="is-size-4" for="">Username:</label>
            <input class="input is large is-link" type="text" id="username" name="username"
                placeholder="Enter your first name" required>
            <label class="is-size-4" for="email">Email:</label>
            <input class="input is large is-link" type="email" id="email" name="email" placeholder="Enter your email address"
                required>
            <label class="is-size-4" for="description-input">About you:</label>
            <textarea 
            class="textarea is-link" 
            placeholder="Super awesome element I made with my imaginary friend"
            id="description-input"></textarea>
            <label class="is-size-4" for="password">Password:</label>
            <input class="input is large" type="password" id="password" name="password"
                placeholder="Enter your password" required>
            <label class="is-size-4" for="password">Confirm Password:</label>
            <input class="input is large" type="password" id="confirmPassword" name="confirmPassword"
                placeholder="Enter your password" required>
        </div>
        <div class="button is-large is-link mb-6">
            <button id="signUpSubmit" type="submit">Sign Up</button>
        </div>
    </form>
</body>
<script src="/js/signUp.js"></script>
<script src="/js/createPost.js"></script>