<h1>Sign Up</h1>
<form action="" id="sign-form">
  <label for="sign-user">User ID</label>
  <input type="text" name="email" id="sign-name" />
  <label for="sign-name">Full Name</label>
  <input type="text" name="email" id="sign-name" />
  <label for="sign-email">email</label>
  <input type="text" name="email" id="sign-email" />
  <label for="sign-password">password</label>
  <input type="password" name="password" id="sign-password" />
  <button>Create</button>
</form>

<script src="/js/login.js"></script>